<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Gunn Assassins' Guild</title>
		<link rel="stylesheet" type="text/css" href="//normalize-css.googlecode.com/svn/trunk/normalize.css">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<link href="/css/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
    	<div class="container">
			<section id="intro">
				<h1>Gunn Assassins' Guild</h1>
				<p>Welcome to the Assassins' Guild. We are a team of highly specialized agents trained to perform mock assassinations throughout Gunn High School. Inspired by <a href="http://www.srcf.ucam.org/assassins/">the Cambridge Assassins' Guild</a>, we are in no way a group of actual assassins, but instead a massive live action role playing game involving imminent death.</p>
				<p>The purpose of the game is to assassinate your target with a variety of mock weaponary, from pens labelled 'Knife' to cardboard box 'refrigerators' thrown from the rooftops, while avoiding being killed yourself. The game starts off large, often with hundreds of people, but soon narrows down to a group of master assassins. The first game begins Monday, September 8, 2014. For more information, read the <a href="#faq">FAQ</a> or <a href="#rules">Rules</a>, or contact the <a href="mailto:team@gunnapps.com">gamemasters</a>.</p>
			</section>
			<section id="register">
				<h1>Register</h1>
				<p>Registration is open for all Gunn students. Check <a href="#faq">the FAQ</a> or contact the gamemasters if you have any questions. Email <a href="mailto:team@gunnapps.com?subject=Registration" target="_blank">the gamemasters</a> the following information with 'Registration' (and <em>only</em> that, nothing else) as the subject:
					<ul>
						<li>Your Name</li>
						<li>Your Pseudonym of Choice</li>
						<li>Your Student ID</li>
						<li>Your Grade</li>
						<li>Your Phone Number (optional, your target will be texted to you at this number as well as emailed to you)</li>
						<li>Attach a photo of you (in the event that there is dispute and we need to find you in-person)</li>
					</ul>
					<p>Your email address and phone number will be used to inform you of your target when the game starts. Your Student ID, grade, contact information, and photo will be kept private lest extenuating circumstances arise.</p>
					<p>All registrations must be be completed by 8 PM Sunday, September 7, 2014 for a confirmed spot in the game.</p>
			</section>
			<section id="faq">
				<h1>Frequently Asked Questions</h1>
				<h3>What really is this?</h3>
				<p>Assassin is a school-wide game where students use fake weaponry to 'kill' each other. It's intended as a fun, social opportunity for community-level competition. Games can last from a couple of hours to a couple months, depending on the size of the game  and the competency of the players. Most games are somewhere in between.</p>
				<h3>Who's behind this?</h3>
				<p>The idea stemmed from the <a href="http://www.srcf.ucam.org/assassins/">Cambridge Assassins' Guild</a>. The Gunn Guild is run by Ankit Ranjan and Kartik Chandra.</p>
				<h3>What does it take to play?</h3>
				<p>The game is free of cost, but takes some time and dedication. Some assassins will be more devoted than others, but it doesn't take much more than sportsmanship and a will to have fun to play. You can forget about the game for days at a time if desired, but just remember that letting your guard down leaves you open to attack.</p>
				<h3>How do you ‘kill’ players?</h3>
				<p>Specifics are provided in the rules, but it’s primarily through the use of labeled ‘weapons’. Some of the more common ones are pen ‘knifes’ and cardboard swords, but creativity allows anything from ‘poisoned’ doorknobs to ‘refrigerator’ cardboard boxes thrown from rooftops. Discretion is left up to the umpire as to what’s permitted and what isn’t.</p>
				<h3>What happens when you kill someone?</h3>
				<p>After the euphoria of a well-executed assassination wears off, you both inform the game master, and the victim’s target is now assigned to you. In the event of a dispute, all related parties will be brought for discussion with the game master.</p>
				<h3>What happens when you die?</h3>
				<p>Depending on how glorious your death, you may go on to be sung of in legend for coming years. Regardless, this usually involves sending an account of your death to the gamemaster and informing your assassin of their next target (your target before death). Depending on the gamemaster, you may be permitted to assist in other assassinations.</p>
			</section>
			<section id="rules">
				<h1>Rules</h1>
				<p>In the spirit of a safe, fun competition, all participants must abide these rules. Participants who break these rules will be subject to administrative action at the discretion of school-level authorities. All rules stated below are in addition to the Student Handbook, and of course, the law.</p>
				<p>All rules stated below are subject to change at any time by the Gamemasters.</p>
				<p><strong>The Gamemasters are <em>not</em> responsible for any injuries or damages that occur as a result of your participation in the Titan Assassins’ Guild.</strong></p>
				<ol>
					<li>
						<h2>Introduction</h2>
						<p>The object of the game is to be the last assassin standing. At the beginning of the game, you will be assigned a target and given their name. It is your responsibility to track this person down and take them out by whatever means necessary. Once you have assassinated them, both you and them must register completion of your mission. After completion is registered, you will be given their target. The last person standing is proclaimed the winner.</p>
					</li>
					<li>
						<h2>Overview</h2>
						<ol>
							<li>
								<h3>Registration</h3>
								<p>Registration can be done by following the instructions provided in the <a href="#register">Registration section</a>. All registrations must occur before 11:59:59 PM Monday September 1, 2014. Registrants must be current Gunn students.</p>
							</li>
							<li>
								<h3>How to Play</h3>
								<p>In brief:</p>
								<ul>
									<li>At the beginning of the game, you will be provided the full name of your ‘target’.</li>
									<li>It is your responsibility to track down your target and ‘kill’ them, while avoiding being ‘killed’ by your assassin.</li>
									<li>In the event that you kill your target, you will be handed their target as your next victim.</li>
									<li>All assassination incidents must be recorded and sent to the gamemaster.</li>
									<li>The last assassin standing is proclaimed the winner.</li>
								</ul>
							</li>
						</ol>
					</li>
					<li>
						<h2>Rules of Conduct</h2>
						<ol>
							<li>The purpose of this game is to facilitate interesting, fun, and exciting interactions between like-minded people. Any attempt to misuse this opportunity to bully, insult, injure, or defame people, and in general actions against the nature of the game will result in disqualification and potential banning from future games.</li>
							<li>Be rational and exercise common sense at all times. Play with the spirit of competition, but keep a cool head at all times. The Guild denies all responsibility in relation to actions that result in the alert of higher authorities. In general, don’t be stupid.</li>
							<li>Real violence, used, intended, or implied, is strictly prohibited.</li>
							<li>The game is not and should never come down to a test of physical strength.</li>
							<li>Be conscientious and aware of the rules and regulations of higher authorities and the school administration.</li>
							<li>This game is entirely dependent on complete honesty, especially to the gamemaster. Any attempts at dishonesty or uncooperative behavior will result in severe penalty.</li>
							<li>You may not in any way impersonate the gamemaster or any authority.</li>
							<li>Certain areas, due to general regards for sanity, are considered out-of-bounds. These areas are to be treated with respect, and not abused as defensive perimeters. More information is provided in the “Out of Bounds” section.</li>
							<li>Be nice.</li>
						</ol>
					</li>
					<li>
						<h2>Details</h2>
						<ol>
							<li>
								<h3>Accomplices</h3>
								<p>You are permitted to use unarmed accomplices in your assassination attempts. You are <em>encouraged</em> to have witnesses—they help resolve disagreements, but more importantly, add entertainment.</p>
							</li>
							<li>
								<h3>Disputes and Ceasefires</h3>
								<p>The gamemaster is at complete liberty to call a ceasefire and determine the outcome of an assassination in the event of any disputes. The result of such negotiations are at the gamemaster's discretion, and their word is final.</p>
							</li>
							<li>
								<h3>Suicide</h3>
								<p>Suicide is not permitted. If you would like to be removed from the game, contact the gamemaster and they will make proper arrangements.</p>
							</li>
							<li>
								<h3>Time Out</h3>
								<p>In the event of an emergency or suspected breaking of the rules, a player can call “Time Out”, immediately marking the surrounding area OOB. Abuse of this privilege will result in disqualification.</p>
							</li>
						</ol>
					</li>
					<li>
						<h2>Area of Play</h2>
						<ol>
							<li>
								<h3>Out of Bounds</h3>
								<p>Many off-campus locations are in-game, and assassination attempts can be made both in and out of school. However, in the spirit of sanity and respect for others, certain areas are regarded as <strong>Out of Bounds</strong> (OOB) and are not legal for fair play. If in doubt, consider whether any assassination attempts in the area would be dangerous or disrespectful. Some OOB areas:</p>
								<ul>
									<li>Any classroom, regardless of whether or not class is in session.</li>
									<li>Theaters, offices, and libraries.</li>
									<li>Public buildings of all kinds, including religious buildings.</li>
									<li>Anyone under employ is OOB while at work.</li>
									<li>Dances (and the lines to go in) are considered off limits. The areas surrounding, however, are fair game.</li>
									<li>Lunch lines are in bounds for non-projectile weapons.</li>
									<li>Organized sports activities are OOB. Pick up games are in bounds.</li>
									<li>Any participant operating a vehicle is OOB. Passengers are in bounds, unless attacking said party may pose risk to the vehicle’s occupants.</li>
									<li>Public transportation is OOB.</li>
								</ul>
							</li>
							<li>
								<h3>Escape</h3>
								<p>OOB regions may not be use to escape assassination unless the attacked party has prior obligations at that area.</p>
							</li>
						</ol>
					</li>
					<li>
						<h2>Weapons</h2>
						<p>All weapons must be clearly labeled with what they are. The following weapons are allowed:</p>
						<ul>
							<li><strong>Knives:</strong> These include cardboard, rubber, plastic and foam knives, as well as capped pens. If not immediately obvious as a knife, an object should be labeled as such. May be throw, but only one at a time.</li>
							<li><strong>Clubs:</strong> Cardboard tubes and rolled up newspapers, should be labeled. Blows to the head are instant death. Being hit in a limb  “immobilizes” it, meaning you can’t use it in the game for half an hour. A hit to the body completely immobilizes you, preventing you from making any kills at all for half an hour.</li>
							<li><strong>Swords:</strong> Plastic or cardboard, must be labeled if cardboard. Large blue  lightsabers will be applauded. Try to slash as opposed to stab, don’t aim for the head.</li>
							<li><strong>Dropped items:</strong> Empty boxes can be labeled as safes, fridges, anvils, etc. If they fall more than 3 feet, the target is dead. 1-3 feet immobilizes them as a club blow to the body would. Beach balls or large balloons can be labeled as boulders, and rolled, dropped or thrown. If you kick a boulder, the leg you kicked it with is immobilized as a club blow to it would.</li>
							<li><strong>Poison:</strong> ‘Poisons’ may be planted in the target’s lunch, P.E. locker, backpack, etc. The target dies when they find the poison. Poison is applied by taping a large ‘Poison’ label to the item.</li>
							<li>
								<strong>The following weapons are not allowed:</strong>
								<ul>
									<li>Water weapons (this includes water pistols, buckets of water)</li>
									<li>Bombs (including stink bombs, smoke bombs, and TNT)</li>
									<li>Guns (including dart guns, Nerf guns, and rifles)</li>
									<li>Anything that could potentially injure someone (no sharp objects)</li>
									<li>Anything that could be misunderstood by administration or authorities as a real weapon</li>
								</ul>
							</li>
						</ul>
						<p>If you have ideas for a novel type of weapon, run them by the gamemaster. Most of the time, as long as they aren't potentially harmful and not overpowered, it'll be a yes.</p>
					</li>
				</ol>
			</section>
		</div>
    </body>
</html>
